.carousel-inner img{
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

/* Ajustar el tamaño del carrusel */
.custom-carousel, .card {
    max-width: 70%; /* O el valor que prefieras */
    margin: 50px 150px; /* Centra el carrusel */
   
  }
  
  
  /* Ajustar el espaciado de los botones de navegación */
  .custom-carousel .carousel-control-prev,
  .custom-carousel .carousel-control-next {
    width: 20%; /* Ajusta el tamaño de los botones */
    /* Puedes agregar más estilos si es necesario */
    
    /* Añade espacio a los lados del botón */
  }


  /*La carta descrpion*/
