.card{
    margin: 20px 10px; 
    border-radius: 20px;
    box-shadow: 0px 0px 5px #dd7888;
    border: #dd7888;
}
.total th{
    text-align: right;
}
.total td{
    text-align: left;
}

#totalTamanno{
    font-size: 20px;
}
.table{
    font-family: Montserrat Light;
}

.Pago {
    margin-top: -28px;
}

#icon:hover{
    color: red;
}
