#listaProductos {
  padding: 60px 0; 
}

.col {
  display: flex; 
  justify-content: center; 
}

.card-img-top {
  max-height: 200px; 
  object-fit: cover; 
  width: 100%; 
}

.card-body {
  display: flex;
  flex-direction: column;
}

.boton {
  padding: 0 0 20px 0; 
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}

header, nav {
  width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin: 0; 
}

.detalle {
  background-color: #dd7888 !important; 
  border:#dd7888 !important; 
  color: white; 
  font-family: 'League';
  max-width: 150px; 
  margin: 0 auto; 
}

.detalle:hover,
.detalle:focus{
  background-color: #dd7888 !important;
  color: white;
  text-decoration: none;
  box-shadow: none !important;
  outline: none !important;
}
.detalle:active {
  background-color: #dd7888 !important;
  color: white;
  text-decoration: none;
  box-shadow: none !important;
}
  