.container{
margin-top: 45px;
margin-bottom: 45px;
}
section{
  padding: 20px;
}
.custom-carousel {
  min-height: 300px;
}
.custom-carousel .carousel-item {
  height: 50%;
}
.custom-carousel img {
  object-fit: cover;
  height: 100%;
  

}  
  
  
  /* Ajustar el espaciado de los botones de navegación */
  .custom-carousel .carousel-control-prev,
  .custom-carousel .carousel-control-next {
    width: 20%; /* Ajusta el tamaño de los botones */
    /* Puedes agregar más estilos si es necesario */
    
    /* Añade espacio a los lados del botón */
  }
