#formulario{
    margin: 50px 150px;
    padding: 20px;
    width: 350px;
    box-shadow: 0px 0px 5px #dd7888;
    border: #dd7888;
    border-radius: 10px;
    font-family: Montserrat Light;
    text-align: justify;
}
.estilo {
    background-color: #dd7888 !important;
    border-color: #dd7888 !important;
    color: #fff;
    box-shadow: none !important;
    align-items: center;
}
.estilo:hover {
    background-color: #ffa3b2 !important;
    border-color: #ffa3b2 !important;
}
.estilo:focus,
.estilo:active {
    background-color: #FCBFC9 !important;
    border-color: #FCBFC9 !important;
    color: #fff !important;
    outline: none !important;
    box-shadow: none !important;
}

#tit{
    font-family: League;
    font-size: 35px;
    color: #ffa3b2;
    text-align: center;
  }

  .result-container {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-align: center; 
}

.result-container img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto;
}


.mensaje-error {
    color: #e74c3c;
    margin-top: 5px;
    display: none;
}